@model BirEldeSenUzat.Models.Kullanici

@{
    ViewBag.Title = "iletisimBilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<section class="mb-3">
    <div class="container">
        <div class="row">
            <!-- ======= sol taraf ======= -->
            <div class="col-4" style="height: 300px; border: 1px #DCDCDC solid; border-radius: 20px; ">
                <div class="mt-4">
                    <!-- ======= bağışlarım ======= -->
                    <a href="/Bagisci/Index"><button class="btn btn-success w-100" style="width: 190px;" type="button"><i class="bi bi-heart" style="float:left"></i>BAĞIŞLARIM</button></a>
                    <hr />
                    <!-- ======= hesap ayarları ======= -->
                    <div class="btn-group dropend" style="width:190px;">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear-fill" style="float:left"></i>
                            HESAP AYARLARI
                        </button>
                        <ul class="dropdown-menu" style="width:170px;">
                            <li style="margin:2px;">
                                <a href="/Bagisci/TemelBilgiler">
                                    <button class="btn btn-success" style="width:160px; margin-left:2px;" type="button">
                                        <i class="bi bi-person" style="float:left;"></i>
                                        Temel Bilgiler
                                    </button>
                                </a>
                            </li>
                            <li style="margin:2px;">
                                <a href="/Bagisci/iletisimBilgileri">
                                    <button class="btn btn-success" style="width:160px; margin-left:2px;" type="button">
                                        <i class="bi bi-person" style="float:left;"></i>
                                        İletişim Bilgileri
                                    </button>
                                </a>
                            </li>
                            <li style="margin:2px;">
                                <a href="/Bagisci/KonumBilgileri">
                                    <button class="btn btn-success" style="width:160px; margin-left:2px;" type="button">
                                        <i class="bi bi-person" style="float:left;"></i>
                                        Konum Bilgileri
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <!-- ======= şifre değiştir ======= -->
                    <a href="/Bagisci/sifredegistir">
                        <button class="btn btn-success" style="width:190px;" type="button">
                            <i class="bi bi-lock-fill" style="float:left;"></i>
                            ŞİFRE DEĞİŞTİR
                        </button>
                    </a>
                    <hr />
                </div>
                <!-- ======= çıkış yap======= -->
                <button class="btn btn-success w-100" type="button">
                    <i class="bi bi-power"></i>
                    ÇIKIŞ YAP
                </button>
            </div>
            <!-- ======= iletişim bilgileri ======= -->
            <div class="col-5" style="height:auto; border: 1px #DCDCDC solid; border-radius: 20px; width: 700px; margin-left: 60px;">
                <form class="row g-3" method="post" action="/Bagisci/iletisimBilgileri">
                    <input name="id" value="@Model.KullaniciID" type="hidden"/>

                    <div class="mt-5" style="margin-left:20px; font-size:x-large; color:green">
                        <i class="bi bi-person" style="color: green;"></i>
                        <a>İletişim Bilgileri</a>
                    </div>
                    <hr />
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Telefon</label>
                        <input name="TelNo" type="text" class="form-control" id="inputPassword4" value="@Model.TelNo">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">E-Posta</label>
                        <input name="Mail" type="text" class="form-control" id="inputPassword4" value="@Model.Mail">
                    </div>
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-success w-50 mt-4">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
